body {
    box-sizing: border-box;
    background-color: white;
    color: rgb(23, 93, 139);
    text-align: center;
}

body * {
    box-sizing: inherit;
}

#index-body {
    padding: 0 10px;
}

#recipe-head {
    margin: 20px 0;
    text-align: left;
}

.recipe-image {
    display: inline-block;
    height: auto;
    width: 25vw;
    padding: 10px;
    margin: 0 10px;
}

#recipe-description {
    display: inline-block;
    vertical-align: top;
    width: 50vw;
    padding: 0 10px;
}

#recipe-ingredients, #recipe-steps {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 0 5px;
}

#recipe-ingredients {
    width: 25vw;
}

#recipe-steps {
    width: 70vw;
}

ul {
    list-style-type: none;
    padding: 0;
}

ol {
    padding: 0;
}

li {
    margin: 7px 0;
}

p {
    text-align: left;
}

a {
    color: rgb(194, 64, 64);
}